

<div class="row mg">
    <div class="col-md-6 col-sm-12  offset-md-3">
       <h3 class="text-center">Upload your favourite image.</h3>
                                
        <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="customFile" (change)="fileProgress($event)" />
            <label class="custom-file-label" for="customFile">Choose image for shirt</label>
        </div>
        <div *ngIf="fileUploadProgress">
            Upload progress: {{ fileUploadProgress }}
        </div>
        <div class="designer">
        <div class="shirt">
            <img [src]="currentShirt" alt="" class="shirt" #shirt>
            <div class="image-preview mb-3" *ngIf="previewUrl">
            <img [src]="previewUrl" class="imagepre" />  
            </div>
        </div>
        
           
            
        </div>
        
        <div class="mb-3" *ngIf="uploadedFilePath">
            {{uploadedFilePath}}
        </div>

        <h3 class="text-center">Select shirt colour</h3>
         <div class="shirt-colours cnt">
             <button (click)="whiteBtn()" class="whiteBtn"></button>
             <button (click)="blackBtn()" class="blackBtn"></button>
         </div>

         <select name="" id="" class="form-control mb-4 mt-4">
            <option value="" disabled selected>Quantity</option>
             <option value="1">1</option>
             <option value="1">2</option>
             <option value="1">3</option>
             <option value="1">4</option>
             <option value="1">5</option>
             <option value="1">6</option>
             <option value="1">7</option>
             <option value="1">9</option>
             <option value="1">10</option>
             <option value="1">15</option>
             <option value="1">20</option>
             <option value="1">25</option>
             <option value="1">30</option>

         </select>
<h3 class="text-center">Price: 15 per shirt</h3>

        <div class="form-group">
            <button class="btn btn-primary btn-block"  (click)="onSubmit()">Send</button>
        </div>
    </div>
</div>  

<div class="designbox">
  
</div>